html, body {
  height: 100%;
}

.brand-background {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.logo-title {
  font-size: 2em;
  color: whitesmoke;
  text-decoration: none;
  z-index: 2;
}

#logo-image {
  height: 15vw;
  z-index: 3;
}

.newsletter-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.bg-background\/90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-foreground {
  color: #000;
}

.border-neutral-500 {
  border-color: #737373;
}

.drop-shadow-custom {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.font-semibold {
  font-weight: 600;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  text-shadow: rgb(133, 133, 133) 1px 0 5px;
  text-decoration: underline;
}

.group-hover\:bg-ghost:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.group-hover\:text-background:hover {
  color: #fff;
}

.text-neutral-300 {
  color: #d4d4d4;
}

.green-mask {
  background-image: url('./assets/matrixcode.gif');
  opacity: 0.75;
  z-index: 4;
  height: 15.305%;
  width: 12%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 20vw;
  top: 1.366%;
}

.slide-down {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 540px) and (max-aspect-ratio: 1/1) {
  #logo-image {
    height: 15%;
  }

  .logo-title {
    left: 10%;
    width: 80%;
  }

  .flex.flex-col.gap-2 {
    left: 10%;
  }
}

@media (min-width: 540px) and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
  #logo-image {
    height: 20%;
  }
}
